<div class="row">
  <div class="col-md-12">
    <form method="post" action=" ">
      <p>
      ANNÉE<select  name="Annee">
          <option value="none"></option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
          <option value="2027">2027</option>
          <option value="2028">2028</option>
          <option value="2029">2029</option>
          <option value="2030">2030</option>
        </select>
        MOIS <select  name="Mois">
                  <option value="none"></option>
                  <option value="1"> Janvier</option>
                  <option value="2"> Fevrier</option>
                  <option value="3"> Mars</option>
                  <option value="4"> Avril</option>
                  <option value="5"> Mai</option>
                  <option value="6"> Juin</option>
                  <option value="7"> Juillet</option>
                  <option value="8"> Aout</option>
                  <option value="9"> Septembre</option>
                  <option value="10"> Octobre</option>
                  <option value="11"> Novembre</option>
                  <option value="12"> Decembre</option>
                  </select>
    JOUR  <select name="Jour">
        <option value="none"></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
      </select>
      Departement<select name="Departement">
        <option value="none"></option>
        <option value="CC">Comptabilité centrale (CC)</option>
        <option value="CDD">Coordination Des Directions Départementales(CDD)</option>
        <option value="CUT">Coordination des Unités Techniques(CUT)</option>
        <option value="DA">Direction Administratif (DA)</option>
        <option value="DT">Direction Des Transports (DT)</option>
        <option value="DTP">Direction des Travaux Publics (DTP)</option>
        <option value="DG">Direction générale (DG)</option>
        <option value="reception">Réception</option>
        <option value="SAG">SAG</option>
        <option value="SCDD">Secrétariat Coordination Des Directions Départementales (SCDD)</option>
        <option value="SM">Secrétariat Ministre (SM)</option>
        <option value="SDT">Secrétaire des Direction des Travaux publics (SDT)</option>
        <option value="SDP">Service du personnel (SDP)</option>
        <option value="UE">Unité Entretien (UE)</option>
        <option value="UTSI">Unité Technique de Statistiques et d’informatique (UTSI)</option>
        <option></option>
      </select></p>


      <p> <input type="submit"name="Recherche" value= "Rechercher" class="btn"></p>
    </form>
    
</div>
</div>
